<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <label for="first_name">First_name:</label><br>
        <input type="text" id="first_name" name="first_name" required><br><br>
        <label for="last_name">Second_name:</label><br>
        <input type="text" id="last_name" name="last_name" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="password1">Password:</label><br>
        <input type="password" id="password1" name="password1" required><br><br>
        
        <label for="password2">Confirm Password:</label><br>
        <input type="password" id="password2" name="password2" required><br><br>
        
        <button type="submit">Register</button>
    </form>
</body>
</html>
